<br>
<br>

<div class="container">
    <img class="photo" src="https://scontent.ficn1-1.fna.fbcdn.net/v/t1.0-9/29791089_226478064758833_1786403349797653169_n.jpg?_nc_cat=0&oh=fe7ff0364514217ff9b32122b652ba89&oe=5B9D7FE8">
    <br><br>
    <h4 class="text-white-50">온라인 강의와 오프라인 활동을 통한 체계적인 프로그래밍 교육. 안녕하세요! 멋쟁이사자입니다.</h4>
</div>